.gitsecret/keys/random_seed
!*.secret
base/Secret-docker-hub.yaml
base/Secret-telegraf.yaml
cluster/cloudflared/Secret-cloudflared.yaml
cluster/traefik/Secret.yaml
base/Secret-technitium.yaml
cluster/kubernetes-dashboard/Secret.yaml
cluster/cert-manager/Secret.yaml
cluster/kubernetes-dashboard/Secret-oauth-proxy-client-secret.yaml
cluster/kubernetes-dashboard/Secret-oauth-proxy-cookie-secret.yaml
cluster/kubernetes-dashboard/Secret-oauth-proxy-github-users.yaml
cluster/kubernetes-dashboard/Secret-oauth2-proxy.yaml
